/* Menu */
nav.menu {
    margin-top: 20px;
}

nav.menu a {
    margin: 0 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav.menu a:hover {
    text-decoration: underline;
}

/* Tabelle trattamenti */
table {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    border-collapse: collapse;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

table td:first-child {
    text-align: left;
}

table td:last-child {
    text-align: right;
    font-weight: bold;
}
